.box {
    display: flex;
    flex-direction: column;
    position: relative;
}

.label {
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 4px;
    color: var(--gray-700, #505e68);
    font-feature-settings: 'salt' on;
    font-family: var(--primary-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
}

.input {
    color: var(--secondary-text-color);
    font-feature-settings: 'salt' on;
    font-family: var(--primary-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    padding: 12px 16px;
    border: 1px solid var(--gray-300);
    background: var(--primary-text-color);

    &:hover,
    &:focus {
        outline-color: var(--gray-700);
    }
}
