.default {
    border: none;
    background: transparent;
    padding: 16px 0;
    color: var(--gray-900);
    text-align: center;
    font-feature-settings: 'salt' on;
    font-family: var(--primary-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.32px;
    cursor: pointer;

    &:hover,
    &:focus {
        & > a {
            color: var(--gray-700);
        }
    }

    & > a {
        color: var(--gray-900);
    }

    &.shadow_link a {
        color: var(--gray-300);

        &:hover,
        &:focus {
            color: var(--gray-700);
        }
    }
}

.contained {
    background-color: var(--secondary-bgd-color);
    color: var(--primary-text-color);
    text-align: center;
    font-feature-settings: 'salt' on;
    font-family: var(--primary-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.32px;

    &:hover,
    &:focus {
        background-color: var(--extra-secondary-bgd-color);

        & > a {
            color: var(--extra-text-color);
        }
    }

    & > a {
        color: var(--primary-text-color);
    }
}

.w-100 {
    width: 100%;
}

.underline {
    text-decoration-line: underline;
    text-decoration-color: var(--gray-300);
    cursor: pointer;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prl-4 {
    padding-right: 16px;
    padding-left: 16px;
}
.ptb-2 {
    padding-top: 7px;
    padding-bottom: 7px;
}

.br-6 {
    border-radius: 6px;
}

.bgd-gray-100 {
    background: var(--gray-100);
}
