.text {
    color: var(--gray-700);
    font-feature-settings: 'salt' on;
    font-family: var(--primary-font-family);
    font-size: 19px;
    font-weight: 400;
    line-height: 1.68;
    text-align: left;
    margin-bottom: 32px;
}
