.listItem {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 15% 20% 30% 33% 2%;
    border-radius: 6px;
    background: var(--primary-bgd-color);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.03);
    padding: 16px 16px 16px 12px;
    margin-bottom: 8px;
    color: var(--header-text-color);
    font-family: var(--content-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;

    & > svg > path {
        cursor: pointer;

        &:hover,
        &:focus {
            fill: #7101ff;
        }
    }
}
