@import '~@csstools/normalize.css';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul,
ol {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.react-select-container {
    width: 144px;
    border-radius: 6px;
    &:active,
    &:hover,
    &:focus {
        outline-color: var(--gray-700);
        border-color: var(--gray-700);
    }

    .react-select__control {
        border: 1px solid var(--grays-medium-gray);
        box-shadow: none;
        border-radius: 6px;
        &:active,
        &:hover,
        &:focus {
            border: 1px solid var(--gray-700);
        }
    }

    .react-select__input {
        padding: 4px 6px 4px 14px;
        border-radius: 6px;
        border: 1px solid var(--grays-medium-gray);
        box-shadow: none;

        color: #3b4360;
        font-family: var(--content-font-family);
        font-size: 14px;
        font-weight: 500;
        line-height: 171%;
    }

    .react-select__indicator-separator {
        opacity: 0;
    }
}
