.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 44px;

    &.sidebarlogo {
        justify-content: start;
        padding: 0 32px;
        padding-bottom: 15px;
        margin-bottom: 20px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.08);
        }
    }

    &.m-0 {
        margin: 0;
    }

    .w-h-42 {
        width: 42px;
        height: 42px;
    }
}
