.courses {
    flex-grow: 1;

    .actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 20px;

        & > :not(:last-child) {
            margin-right: 16px;
        }
    }

    .tableHeader {
        display: grid;
        grid-template-rows: 1;
        grid-template-columns: 15% 45% 10% 15%;
        padding: 0 16px;
        margin-bottom: 16px;
        color: var(--gray-300);
        font-family: var(--content-font-family);
        font-size: 16px;
        font-weight: 600;
        line-height: 150%;
    }

    .text {
        text-transform: lowercase;
        color: var(--header-text-color);
        font-family: var(--content-font-family);
        font-size: 16px;
        font-weight: 700;
        line-height: 150%;
    }
}
