.page {
    height: 100vh;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;

    .box {
        width: 376px;

        .title {
            color: var(--secondary-text-color);
            text-align: center;
            font-feature-settings: 'salt' on;
            font-family: var(--primary-font-family);
            font-size: 20px;
            font-weight: 700;
            line-height: 1.6;
            margin-bottom: 32px;
        }

        .errorMsg {
            position: absolute;
            left: 0;
            bottom: -30px;
            border: 2px solid var(--error-border-color);
            background: transparent;
            border-radius: 4px;
            padding: 4px 4px;
            color: var(--gray-900);
            text-align: center;
            font-feature-settings: 'salt' on;
            font-family: var(--primary-font-family);
            font-size: 10px;
            font-weight: 400;
            line-height: 1;
            letter-spacing: -0.32px;
        }

        .btn_box {
            & > :not(:last-child) {
                margin-bottom: 4px;
            }
        }
    }
}
