:root {
    --primary-font-family: 'Lexend', sans-serif;
    --content-font-family: 'Nunito', sans-serif;
    --primary-text-color: #ffffff;
    --extra-text-color: #d5c9c9;
    --secondary-text-color: #000000;
    --header-text-color: #111112;
    --placeholder-text-color: #9f9fb6;
    --primary-bgd-color: #ffffff;
    --secondary-bgd-color: #7101ff;
    --dashboard-bgd-color: #f8f8f8;
    --extra-secondary-bgd-color: #5b03cf;
    --error-border-color: #df5718;
    --gray-100: #f3f5fa;
    --gray-300: #cad2d6;
    --gray-700: #505e68;
    --gray-900: #2c343a;
    --grays-medium-gray: #e4e7ed;
    --black: #000000;
}
