.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1200;
}

.Modal {
    position: relative;
    padding: 86px 110px;
    max-width: calc(100vw - 248px);
    max-height: calc(100vh - 24px);
    background-color: var(--primary-bgd-color);
    border-radius: 4px;
    text-align: center;
}

.w-600 {
    width: 600px;
}

.closeBtn {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    border-radius: 4px;
    background-color: inherit;
}

.closeBtnIcon {
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.closeBtnIcon:hover {
    transform: scale(1.1);
    fill: rgba(116, 21, 21, 0.8);
}
