.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    height: max-content;
    position: relative;
    background-color: var(--dashboard-bgd-color);

    &.headerAfterLine {
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: #dee0e5;
        }
    }

    .title {
        color: var(--header-text-color);
        font-family: var(--content-font-family);
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
    }

    .info {
        display: flex;
        flex-direction: row;
        align-items: center;

        .notification {
            position: relative;
            margin-right: 20px;
            .point {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }

    &.p-10-40 {
        padding: 10px 40px;
    }

    &.noneBgd {
        background: none;
    }
}
