.wrapper {
    text-align: left;

    .label {
        color: var(--gray-700);
        font-feature-settings: 'dlig' on, 'salt' on;
        font-family: var(--primary-font-family);
        font-size: 14px;
        font-weight: 500;
        line-height: 1.42;
        display: flex;
        align-items: center;

        .icon {
            margin-right: 16px;
        }

        .checked_icon {
            margin-right: 16px;
            width: 24px;
            height: 24px;
            border-radius: 4px;
            fill: var(--gray-700);
        }
    }

    .input {
        opacity: 0;
        position: absolute;
    }
}
