.sidebar {
    background: #3f1e85;
    width: 260px;
    height: 100vh;
    padding: 14px 0 20px 0;
    position: relative;

    .tablist {
        & > :first-child {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background-color: rgba(255, 255, 255, 0.08);
            }
        }
        .tab {
            display: flex;
            padding: 17px 31px;
            color: var(--primary-text-color);
            font-family: var(--content-font-family);
            font-size: 14px;
            font-weight: 500;
            line-height: 1.4;
            text-transform: capitalize;
            opacity: 0.8;
            position: relative;

            & .active {
                opacity: 1;
                background: #4b259b;
                // position: relative;

                &::before {
                    content: '';
                    width: 4px;
                    height: 100%;
                    background-color: var(--primary-bgd-color);
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            .icon {
                margin-right: 12px;
            }
        }
    }
    .logout {
        position: fixed;
        bottom: 0;
        display: flex;
        padding: 17px 31px;
        color: var(--primary-text-color);
        font-family: var(--content-font-family);
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4;
        text-transform: capitalize;
        opacity: 0.8;
        cursor: pointer;

        .logout__icon {
            margin-right: 12px;
        }
    }
}
