.section {
    .content-box {
        display: grid;
        grid-template-columns: 10% 40% 30%;
        grid-column-gap: 80px;
        padding: 75px 40px;

        .imgBox {
            display: grid;
            grid-template-columns: 40% 40%;
            grid-column-gap: 40px;
            margin-bottom: 32px;
            place-items: center;

            .img {
                border-radius: 168px;
            }

            .addBtn {
                position: relative;

                .secondLayer {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                .thirdLayer {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    cursor: pointer;
                }
            }

            .imgDescriptionBox {
                display: grid;
                grid-template-rows: 20% 30%;
                grid-row-gap: 56px;

                .btnText {
                    color: var(--black);
                    text-align: center;
                    font-feature-settings: 'salt' on;
                    font-family: var(--primary-font-family);
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 123%;
                    letter-spacing: -0.26px;
                }

                .imgDescription {
                    color: var(--gray-700);
                    font-feature-settings: 'salt' on;
                    font-family: var(--primary-font-family);
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 171%;
                }
            }
        }

        .subtitle {
            color: var(--black);
            font-feature-settings: 'salt' on;
            font-family: var(--primary-font-family);
            font-size: 20px;
            font-weight: 700;
            line-height: 160%;
            margin-bottom: 32px;
        }

        .blockTitle {
            color: var(--gray-700);
            font-feature-settings: 'salt' on;
            font-family: var(--primary-font-family);
            font-size: 14px;

            font-weight: 400;
            line-height: 171%;
            margin-bottom: 4px;
        }

        .blockInfo {
            margin-bottom: 32px;
        }
    }
}
