.lectors {
    flex-grow: 1;

    .actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 20px;

        & > :not(:last-child) {
            margin-right: 16px;
        }

        & > label {
            color: #afb7d3;
            font-family: var(--content-font-family);
            font-size: 14px;
            font-weight: 500;
            line-height: 171%;
        }

        .search {
            padding-top: 8px;
            padding-right: 8px;
            padding-bottom: 8px;
            padding-left: 42px;
            color: var(--placeholder-text-color);
            font-family: var(--content-font-family);
            font-size: 14px;
            font-weight: 500;
            line-height: 140%;
            border-radius: 6px;
            border: 1px solid var(--grays-medium-gray);
            background-image: url('../../assets/images/searchIcon.svg');
            background-repeat: no-repeat;
            background-position: 14px 50%;

            &:active,
            &:focus {
                outline-color: var(--gray-700);
            }
        }
    }

    .lectorView {
        // padding: 20px 40px;

        .tableHeader {
            display: grid;
            grid-template-rows: 1;
            grid-template-columns: 15% 20% 30% 25%;
            padding: 0 16px;
            margin-bottom: 16px;
            color: var(--gray-300);
            font-family: var(--content-font-family);
            font-size: 16px;
            font-weight: 600;
            line-height: 150%;
        }

        .text {
            text-transform: lowercase;
            color: var(--header-text-color);
            font-family: var(--content-font-family);
            font-size: 16px;
            font-weight: 700;
            line-height: 150%;
        }
    }
}

.create-modal__title {
    color: var(--black);
    font-feature-settings: 'salt' on;
    font-family: var(--primary-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 160%;
    margin-bottom: 32px;
}
